<div class="hero hero3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<!-- celebrity single section-->

<div class="page-single movie-single cebleb-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="mv-ceb">
					<img src="{{img}}" alt="">
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct">
					<h1 class="bd-hd">{{name}}</h1>
					<p class="ceb-single">{{profesion}}</p>
					<div class="social-link cebsingle-socail">
						<a href="#"><i class="ion-social-facebook"></i></a>
						<a href="#"><i class="ion-social-twitter"></i></a>
						<a href="#"><i class="ion-social-googleplus"></i></a>
						<a href="#"><i class="ion-social-linkedin"></i></a>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a id="overviewceb" href="#overviewceb">Overview</a></li>
								<li><a id="biography" href="#biography"> biography</a></li>
								<li><a id="mediaceb" href="#mediaceb"> Media</a></li> 
								<li><a id="filmography" href="#filmography">filmography</a></li>                        
							</ul>
						    <div class="tab-content">
						        <div id="overviewceb" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{truncate bio 500}}...</p>
											<p class="time"><a class="me" href="#biography">See full bio <i class="ion-ios-arrow-right"></i></a></p>
						            		<div class="title-hd-sm">
												<h4>Videos & Photos</h4>
												<a href="#mediaceb" class="time me">All Videos & Photos <i class="ion-ios-arrow-right"></i></a>
											</div>
											<div class="mvsingle-item ov-item">
												{{#each main}}
												{{#gte "2" @key}}
												<a class="img-lightbox"  data-fancybox-group="gallery" href="{{photo}}" style="width: 30%;" ><img src="{{photo}}" alt=""></a>
												{{/gte}}
												{{/each}}
												{{#each main}}
                          						{{#gte "0" @key}}
												<div class="vd-it">
													<img class="vd-img" src="{{cover}}" alt="">
													<a class="fancybox-media hvr-grow" href="{{video}}"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
												 {{/gte}}
                        						 {{/each}}
											</div>
											<div class="title-hd-sm">
												<h4>filmography</h4>
												<a href="#filmography" class="time me">Full Filmography<i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">								{{#each main}}
												{{#gte "5" @key}}		
												<div class="cast-it">
													<div class="cast-left cebleb-film">
														<img style="max-width: 15%;" src="{{movieimg}}" alt="">
														<div>
															<a href="/movies?movie={{moviename}}">{{moviename}}</a>
															{{!-- <p class="time">Logan</p> --}}
														</div>
														
													</div>
													<p>...  {{movieyear}}</p>
												</div>
												{{/gte}}
												{{/each}}
											</div>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Fullname:  </h6>
						            			<p><a href="#">{{name}}</a></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Date of Birth: </h6>
						            			<p>{{dob}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Country:  </h6>
						            			<p>{{Country}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Height:</h6>
						            			<p>{{height}}</p>
						            		</div>
						            		{{!-- <div class="sb-it">
						            			<h6>Keywords:</h6>
						            			<p class="tags">
						            				<span class="time"><a href="#">jackman</a></span>
													<span class="time"><a href="#">wolverine</a></span>
													<span class="time"><a href="#">logan</a></span>
													<span class="time"><a href="#">blockbuster</a></span>
													<span class="time"><a href="#">final battle</a></span>
						            			</p>
						            		</div> --}}
						            		<div class="ads">
												<img src="images/uploads/ads1.png" alt="">
											</div>
						            	</div>
						            </div>
						        </div>
						        <div id="biography" class="tab">
						           <div class="row">
						            	<div class="rv-hd">
											<div>
												<h3>Biography of</h3>
						       	 				<h2>{{name}}</h2>
											</div>							            						
						            	</div>
						            	<p>{{bio}}</p>
						            </div>
						        </div>
						        <div id="mediaceb" class="tab">
						        	<div class="row">
						        		<div class="rv-hd">
						            		<div>
						            			<h3>Photos & Videos related to</h3>
					       	 					<h2>{{name}}</h2>
						            		</div>
						            	</div>
						            	<div class="title-hd-sm">
											<h4>Videos</h4>
										</div>
										<div class="mvsingle-item media-item">
											{{#each main}}
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="{{cover}}" alt="">
													<a class="fancybox-media hvr-grow"  href="{{video}}"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Trailer:  Watch New Scenes</a></h6>
													<p class="time"> 1: 31</p>
												</div>
											</div>
											{{/each}}
										</div>
										<div class="title-hd-sm">
											<h4>Photos</h4>
										</div>
										<div class="mvsingle-item">
											{{#each main}}
											<a class="img-lightbox"  data-fancybox-group="gallery" href="{{photo}}" style="width: 30%;" ><img src="{{photo}}" alt=""></a>
											{{/each}}
										</div>
						        	</div>
					       	 	</div>
					       	 	<div id="filmography" class="tab">
						        	<div class="row">
						            	<div class="rv-hd">
						            		<div>
						            			<h3>Filmography of</h3>
					       	 					<h2>{{name}}</h2>
						            		</div>
										
						            	</div>
						            	{{!-- <div class="topbar-filter">
											<p>Found <span>14 movies</span> in total</p>
											<label>Filter by:</label>
											<select>
												<option value="popularity">Popularity Descending</option>
												<option value="popularity">Popularity Ascending</option>
												<option value="rating">Rating Descending</option>
												<option value="rating">Rating Ascending</option>
												<option value="date">Release date Descending</option>
												<option value="date">Release date Ascending</option>
											</select>
										</div> --}}
										<!-- movie cast -->
										<div class="mvcast-item">									{{#each main}}	
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img style="max-width: 25%;" src="{{movieimg}}" alt="">
													<div>
														<a href="/movies?movie={{moviename}}">{{moviename}}</a>
														{{!-- <p class="time">Logan</p> --}}
													</div>
													
												</div>
												<p>...  {{movieyear}}</p>
											</div>
											{{/each}}
										</div>
						            </div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
<!-- celebrity single section-->