<div class="hero user-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hero-ct">
          <h1 style="text-align: left; margin-left: 25.5%;">{{Username}}’s
            profile</h1>
          <ul class="breadcumb">
            <li class="active"><a href="#">Home</a><span
                class="ion-ios-arrow-right"
              ></span></li>
            <li id="value">Profile</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-single userfav_list">
  <div class="container">
    <div class="row ipad-width2">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="user-information">
          <div class="user-img">
            <a href="{{Pic}}"><img loading="lazy" src={{Pic}} alt="user_pic" /><br /></a>
            <form action="/updateavatar" method="post" enctype="multipart/form-data">
              <input style="color: wheat;" type="file" name="avatar" />
			  <button class="redbtn" type="submit">Change avatar</button>
            </form>
          </div>
          <div class="user-fav">
            <p>Account Details</p>
            <ul>
              <li class="active"><a
                  id="profile"
                  href="#profile"
                >Profile</a></li>
              <li><a id="favoritelist" href="#favoritelist">Favorite movies</a></li>
            </ul>
          </div>
          <div class="user-fav">
            <p>Others</p> 
            <ul>
              {{{Logout}}}
            </ul>
          </div>
        </div>
      </div>
      <div class="tabs">
        <div id="favoritelist" class="col-md-9 col-sm-12 col-xs-12">
          {{!-- <div class="topbar-filter">
					<div class="pagination2" style="padding:0">
					<span>Sort:</span>
					<a id="sortname" class="active" href="/movielist?page={{page}}&number={{number}}&sort=name">Ascending names</a>
					<a id="sortnamedesc" href="/movielist?page={{page}}&number={{number}}&sort=name desc">Descending names</a>
					<a id="sortrating" href="/movielist?page={{page}}&number={{number}}&sort=rating">Increasing rating</a>
					<a id="sortratingdesc" href="/movielist?page={{page}}&number={{number}}&sort=rating desc">Decreasing rating</a>
					<a id="sorttime" href="/movielist?page={{page}}&number={{number}}&sort=time">Incresing Duration</a>
					<a id="number40" href="/movielist?page={{page}}&number={{number}}&sort=">Decreasing Duration</a> 
					</div>
					<a href="movielist" class="list"><i class="ion-ios-list-outline active"></i></a>
					<a  href="moviegrid" class="grid"><i class="ion-grid"></i></a>
				</div> --}}
          <div class="flex-wrap-movielist user-fav-list">
            {{#each fav}}
            <div class="movie-item-style-2">
              <img loading="lazy" src="{{img}}" alt="cover pic" />
              <div class="mv-item-infor">
                <h6><a href="/movies?movie={{name}}">{{name}} <span>({{release}})</span></a></h6>
                <p class="rate"><i class="ion-android-star"></i><span>{{rating}}</span>
                  /10</p>
                <p class="describe">{{truncate overview 100}}...</p>
                <p class="run-time"> Run Time: {{time}}    .     <span>IMDb: {{rating}}</span>    .     <span>Release: {{release}}</span></p>
						    <p>Director: <a href="#">{{director}}</a></p>
						    <p>Stars: {{stars}}</p>
              </div>
            </div>
            {{/each}}
          </div>
          <div class="topbar-filter">
            <div class="pagination2" style="padding:0">
              <span>Page {{page}} : 6</span>
              <a href="/dashboard?page={{minus page 1}}#favoritelist"><i class="ion-arrow-left-b"></i></a> 
              <a id="page1" href="/dashboard?page=1">1</a>
              <a id="page2" href="/dashboard?page=2">2</a>
              <a id="page3" href="/dashboard?page=3">3</a>
              <a id="page4" href="/dashboard?page=4">4</a>
              <a id="page5" href="/dashboard?page=5">5</a>
              <a id="page6" href="/dashboard?page=6">6</a> 
              <a href="/dashboard?page={{add page 1}}#favoritelist"><i class="ion-arrow-right-b"></i></a> 
            </div>
          </div>
        </div>
        <div id="profile" class="active page-single">
          <div class="container">
            <div class="row ipad-width">
              <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="form-style-1 user-pro" action="#">
                  <form method="post" action="/update" class="user">
                    <h4>01. Profile details</h4>
                    <div class="row">
                      <div class="col-md-6 form-it">
                        <label for="username">Username</label>
                        <input
                          name="username"
                          type="text"
                          placeholder="edwardkennedy"
                          value="{{Username}}"
                        />
                      </div>
                      <div class="col-md-6 form-it">
                        <label>Email Address</label>
                        <input
                          type="text"
                          placeholder="edward@kennedy.com"
                          value="{{Email}}"
                        />
                      </div>
                    </div>
                    {{! <div class="row">
											<div class="col-md-6 form-it">
												<label>First Name</label>
												<input type="text" placeholder="Edward ">
											</div>
											<div class="col-md-6 form-it">
												<label>Last Name</label>
												<input type="text" placeholder="Kennedy">
											</div>
										</div> }}
                    <div class="row">
                      <div class="col-md-6 form-it">
                        <label for="Country">Country</label>
                        <select name="Country">
                          <option value="{{Country}}">Select a Country</option>
                          <option value="United States">United States</option>
                          <option value="India">India</option>
                          <option value="saab">Others</option>
                        </select>
                      </div>
                      <div class="col-md-6 form-it">
                        <label for="State">State</label>
                        <select name="State">
                          <option value="{{State}}">Select your State</option>
                          <option value="Haryana">Haryana</option>
                          <option value="saab">Others</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <input class="submit" type="submit" value="save" />
                      </div>
                    </div>
                  </form>
                  <form method="post" action="/updatepass" class="password">
                    <h4>02. Change password</h4>
                    <div class="row">
                      <div class="col-md-6 form-it">
                        <label for="oldpass">Old Password</label>
                        <input
                          name="oldpass"
                          type="text"
                          placeholder="**********"
                          value="{{OldPass}}"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-it">
                        <label for="newpass">New Password</label>
                        <input
                          name="newpass"
                          type="text"
                          placeholder="***************"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-it">
                        <label for="renewpass">Confirm New Password</label>
                        <input
                          name="renewpass"
                          type="text"
                          placeholder="*************** "
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <input class="submit" type="submit" value="change" />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>